// Place all the styles related to the pillows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#zillow_map {
  position: relative;
  width: 700px;
  height: 500px;
  display: inline-block;
  float: right;
}

.state-profile {
  margin-top: 75px;
  height: 350px;
  width: 100%;
  display: inline-block;
}